<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>6aReWIQUK5jTUxCYhHgwsA3zEIOi6nih</string>
	<key>Domain</key>
	<string>dev-mv2z5fwj1hg2tayg.local.dev.auth0.com</string>
	<key>UseHTTPS</key>
	<false/>
</dict>
</plist>
