<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- highlight-start configure -->
    <key>Domain</key>
    <string>%AUTH0_DOMAIN%</string>
    <key>ClientId</key>
    <string>%AUTH0_CLIENT_ID%</string>
    <!-- highlight-end configure -->
</dict>
</plist>
